In [11]:
import pandas as pd
import requests 
from io import StringIO
from sqlalchemy import create_engine

In [17]:
def csv_downloader(csv_url):
    response = requests.get(csv_url)
    if response.status_code == 200:
        data = StringIO(response.text)
        df = pd.read_csv(data)
        return df
    else:
        print("Error downloading file")
        
def send_data_to_db(df, db_name, table_name):
    user_name = 'postgres'
    pw = '12345678'
    host = 'localhost'
    port = '5432'
    db = db_name
    
    db_url = f'postgresql://{user_name}:{pw}@{host}:{port}/{db}'
    engine = create_engine(db_url)
    
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    
    print(f"Data has been sent to {db_name} database as {table_name} table")

In [13]:
CSV_URL = "https://drive.usercontent.google.com/u/0/uc?id=1TQRSONybodmFG7yBrMuCxb2JRFVaowJR&export=download"

flights = csv_downloader(csv_url=CSV_URL)

In [18]:
database = 'flights_db'
table = 'aero_flights'

send_data_to_db(df=flights, db_name=database, table_name=table)

Data has been sent to flights_db database as aero_flights table

In [14]:
flights.head()

,actual_arrival_time,actual_flight_time,actual_departure_time,air_time,air_traffic_delay,airline_code,airline_name,arrival_delay,cancellation_reason,carrier_delay,...,origin_state,scheduled_arrival_time,scheduled_departure_time,scheduled_flight_time,security_delay,was_cancelled,weather_delay,wheels_off_time,wheels_on_time,day_of_week
0,1339.0,224.0,655.0,200.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,California,1356,645,251,0,False,0,714.0,1334.0,Thursday
1,951.0,115.0,656.0,97.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,Texas,1008,700,128,0,False,0,708.0,945.0,Thursday
2,1429.0,180.0,1129.0,152.0,0,DL,Delta Air Lines Inc.,-20.0,NaN,0,...,New York,1449,1133,196,0,False,0,1154.0,1426.0,Thursday
3,944.0,140.0,724.0,108.0,0,DL,Delta Air Lines Inc.,3.0,NaN,0,...,Georgia,941,727,134,0,False,0,753.0,941.0,Thursday
4,1300.0,146.0,1034.0,132.0,0,DL,Delta Air Lines Inc.,-25.0,NaN,0,...,Connecticut,1325,1039,166,0,False,0,1042.0,1254.0,Thursday

In [2]:
# Step 1: Define the direct Google Drive CSV download link
CSV_URL = "https://drive.usercontent.google.com/u/0/uc?id=1TQRSONybodmFG7yBrMuCxb2JRFVaowJR&export=download"

In [3]:
response = requests.get(CSV_URL)

In [4]:
response.status_code

200

In [5]:
data = StringIO(response.text)

flights = pd.read_csv(data)

In [6]:
flights.head()

,actual_arrival_time,actual_flight_time,actual_departure_time,air_time,air_traffic_delay,airline_code,airline_name,arrival_delay,cancellation_reason,carrier_delay,...,origin_state,scheduled_arrival_time,scheduled_departure_time,scheduled_flight_time,security_delay,was_cancelled,weather_delay,wheels_off_time,wheels_on_time,day_of_week
0,1339.0,224.0,655.0,200.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,California,1356,645,251,0,False,0,714.0,1334.0,Thursday
1,951.0,115.0,656.0,97.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,Texas,1008,700,128,0,False,0,708.0,945.0,Thursday
2,1429.0,180.0,1129.0,152.0,0,DL,Delta Air Lines Inc.,-20.0,NaN,0,...,New York,1449,1133,196,0,False,0,1154.0,1426.0,Thursday
3,944.0,140.0,724.0,108.0,0,DL,Delta Air Lines Inc.,3.0,NaN,0,...,Georgia,941,727,134,0,False,0,753.0,941.0,Thursday
4,1300.0,146.0,1034.0,132.0,0,DL,Delta Air Lines Inc.,-25.0,NaN,0,...,Connecticut,1325,1039,166,0,False,0,1042.0,1254.0,Thursday

In [7]:
user_name = 'postgres'
pw = '12345678'
host = 'localhost'
port = '5432'
db = 'flights_db'

db_url = f"postgresql://{user_name}:{pw}@{host}:{port}/{db}"

db_engine = create_engine(db_url)

In [8]:
flights.to_sql('flights_table', db_engine, if_exists='replace', index=False)

1000

In [2]:
import pandas as pd
import requests
from io import StringIO
from sqlalchemy import create_engine

# Step 1: Define the direct Google Drive CSV download link
CSV_URL = "https://drive.usercontent.google.com/u/0/uc?id=1TQRSONybodmFG7yBrMuCxb2JRFVaowJR&export=download"

def download_csv(url):
    """Downloads CSV from Google Drive and loads it into Pandas DataFrame."""
    response = requests.get(url)
    if response.status_code == 200:
        data = StringIO(response.text)  # Convert text content to Pandas-readable format
        print("✅ CSV downloaded successfully.")
        return pd.read_csv(data)
    else:
        print("❌ Failed to download CSV.")
        return None

# Download and Load CSV into Pandas
df = download_csv(CSV_URL)

✅ CSV downloaded successfully.

In [2]:
df.head()

,actual_arrival_time,actual_flight_time,actual_departure_time,air_time,air_traffic_delay,airline_code,airline_name,arrival_delay,cancellation_reason,carrier_delay,...,origin_state,scheduled_arrival_time,scheduled_departure_time,scheduled_flight_time,security_delay,was_cancelled,weather_delay,wheels_off_time,wheels_on_time,day_of_week
0,1339.0,224.0,655.0,200.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,California,1356,645,251,0,False,0,714.0,1334.0,Thursday
1,951.0,115.0,656.0,97.0,0,DL,Delta Air Lines Inc.,-17.0,NaN,0,...,Texas,1008,700,128,0,False,0,708.0,945.0,Thursday
2,1429.0,180.0,1129.0,152.0,0,DL,Delta Air Lines Inc.,-20.0,NaN,0,...,New York,1449,1133,196,0,False,0,1154.0,1426.0,Thursday
3,944.0,140.0,724.0,108.0,0,DL,Delta Air Lines Inc.,3.0,NaN,0,...,Georgia,941,727,134,0,False,0,753.0,941.0,Thursday
4,1300.0,146.0,1034.0,132.0,0,DL,Delta Air Lines Inc.,-25.0,NaN,0,...,Connecticut,1325,1039,166,0,False,0,1042.0,1254.0,Thursday

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   actual_arrival_time       44389 non-null  float64
 1   actual_flight_time        44333 non-null  float64
 2   actual_departure_time     44412 non-null  float64
 3   air_time                  44333 non-null  float64
 4   air_traffic_delay         45000 non-null  int64
 5   airline_code              45000 non-null  object
 6   airline_name              45000 non-null  object
 7   arrival_delay             44333 non-null  float64
 8   cancellation_reason       607 non-null    object
 9   carrier_delay             45000 non-null  int64
 10  day                       45000 non-null  object
 11  departure_delay           44412 non-null  float64
 12  destination_airport       45000 non-null  object
 13  destination_city          45000 non-null  object
 14  destination_state         45000 non-null  object
 15  distance                  45000 non-null  int64
 16  flight_number             45000 non-null  int64
 17  late_aircraft_delay       45000 non-null  int64
 18  origin_airport            45000 non-null  object
 19  origin_city               45000 non-null  object
 20  origin_state              45000 non-null  object
 21  scheduled_arrival_time    45000 non-null  int64
 22  scheduled_departure_time  45000 non-null  int64
 23  scheduled_flight_time     45000 non-null  int64
 24  security_delay            45000 non-null  int64
 25  was_cancelled             45000 non-null  bool
 26  weather_delay             45000 non-null  int64
 27  wheels_off_time           44398 non-null  float64
 28  wheels_on_time            44389 non-null  float64
 29  day_of_week               45000 non-null  object
dtypes: bool(1), float64(8), int64(10), object(11)
memory usage: 10.0+ MB

In [3]:
df.columns

Index(['actual_arrival_time', 'actual_flight_time', 'actual_departure_time',
       'air_time', 'air_traffic_delay', 'airline_code', 'airline_name',
       'arrival_delay', 'cancellation_reason', 'carrier_delay', 'day',
       'departure_delay', 'destination_airport', 'destination_city',
       'destination_state', 'distance', 'flight_number', 'late_aircraft_delay',
       'origin_airport', 'origin_city', 'origin_state',
       'scheduled_arrival_time', 'scheduled_departure_time',
       'scheduled_flight_time', 'security_delay', 'was_cancelled',
       'weather_delay', 'wheels_off_time', 'wheels_on_time', 'day_of_week'],
      dtype='object')

In [4]:
df.airline_name.unique()

array(['Delta Air Lines Inc.', 'ExpressJet Airlines LLC',
       'Hawaiian Airlines Inc.', 'Envoy Air'], dtype=object)

In [ ]:
if df is not None:
    # Step 2: Data Cleaning & Transformation
    # df.drop_duplicates(inplace=True)  # Remove duplicate rows
    # df.fillna(method="ffill", inplace=True)  # Handle missing values
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]  # Normalize column names

    # Step 3: Connect to PostgreSQL Database
    POSTGRES_USER = "postgres"  # Change to your PostgreSQL username
    POSTGRES_PASSWORD = "12345678"  # Change to your PostgreSQL password
    POSTGRES_HOST = "localhost"  # Change if running remotely
    POSTGRES_PORT = "5432"  # Default PostgreSQL port
    POSTGRES_DB = "altschool_db"  # Change to your PostgreSQL database name

    DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"

    # Create SQLAlchemy engine
    engine = create_engine(DATABASE_URL)

    # Step 4: Save Data to PostgreSQL
    TABLE_NAME = "flights1"
    df.to_sql(TABLE_NAME, con=engine, if_exists="replace", index=False)  # Use "append" instead of "replace" to keep existing data

    print("✅ Data successfully saved to PostgreSQL.")

# Step 5: Query & Verify Data
query_result = pd.read_sql(f"SELECT * FROM {TABLE_NAME} LIMIT 5;", con=engine)
query_result

✅ Data successfully saved to PostgreSQL.

In [6]:
if df is not None:
    # Step 2: Data Cleaning & Transformation
    # df.drop_duplicates(inplace=True)  # Remove duplicate rows
    # df.fillna(method="ffill", inplace=True)  # Handle missing values
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]  # Normalize column names

    # Step 3: Connect to PostgreSQL Database
    POSTGRES_USER = "postgres"  # Change to your PostgreSQL username
    POSTGRES_PASSWORD = "12345678"  # Change to your PostgreSQL password
    POSTGRES_HOST = "localhost"  # Change if running remotely
    POSTGRES_PORT = "5432"  # Default PostgreSQL port
    POSTGRES_DB = "altschool_db"  # Change to your PostgreSQL database name

    DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
    # Create SQLAlchemy engine
    engine = create_engine(DATABASE_URL)

    for airline in df.airline_name.unique():    
        # Step 4: Save Data to PostgreSQL
        TABLE_NAME = airline
        df.to_sql(TABLE_NAME, con=engine, if_exists="replace", index=False)  # Use "append" instead of "replace" to keep existing data

        print("✅ Data successfully saved to PostgreSQL.")

# Step 5: Query & Verify Data
query_result = pd.read_sql(f"SELECT * FROM {TABLE_NAME} LIMIT 5;", con=engine)
query_result

✅ Data successfully saved to PostgreSQL.
✅ Data successfully saved to PostgreSQL.
✅ Data successfully saved to PostgreSQL.
✅ Data successfully saved to PostgreSQL.

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "envoy" does not exist
LINE 1: SELECT * FROM Envoy Air LIMIT 5;
                      ^

[SQL: SELECT * FROM Envoy Air LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/f405)